*{
    font-family:Arial,sans-serif;
}

body{
    background-image:url(
        http://source.unsplash.com/random?mountains-sig=1);
    background-size: auto 100vh;
    height: 100vh;
}
header{
    background: rgba(255, 255, 255, 0.671);
    border-radius: 20px;
    color: rgb(0, 49, 68);

}

.menu{
    background:white;
    color:red;
}

.menu ul{
    display:flex;
    justify-content:space-around;
}

a {
    color: rgb(0, 49, 68);
    text-decoration:none;
}

a:hover{
    color:green;
    text-decoration:underline;
}

.menu li{
    /* tirou bolinha */
    list-style: none;
}

.site-title,
.site-subtitle{
    text-align:center
}
